body {
  background-color: darken(#fff, 10%);
}

.content-container {
  @include outer-container;
}

.page-content {
  @include span-columns(8);

  p {
    font-size: $baseline * 2.44; // ~ 22px
    line-height: $baseline * 3; // 27px
  }
}

.page-sidebar {
  @include span-columns(4);
  @include omega();
}

a {
  text-decoration: none;
  color: $link;

  &:hover {
    text-decoration: underline;
  }
}
